h5 {
    padding-bottom: 8px;
}

.copy-github-link-container div.dropdown-menu {
    top:6px;
    width: max-content;
    max-width: calc(100vw - 320px);
}

.copy-github-link-container h5 {
    font-weight: normal;
}

.copy-github-link-body {
  background-position: center;
  background-repeat: no-repeat;
  min-height: 256px;
  margin: 0;
  padding: 0;
}

.copy-github-link-body .copy-github-link-body-content {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 12px;
  min-height: 256px;
}

.copy-github-link-group {
    font-weight: bold;
    font-size: 12px;
}

ul.copy-github-link-list {
    padding: 2px 0px 10px 20px;
    list-style-type: none;
}

ul.copy-github-link-list li {
    margin: 0 8px;
}

ul.copy-github-link-list ::marker {
    content: '📋 ';
}

ul.copy-github-link-list li a.copy-github-link-clicked {
    color: darkred;
}
