html {
  background-image: url('images/logo-256.png');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: max-content;
  max-width: 800px;
  min-height: 256px;
}

body {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 12px;
  color: #003650;
  min-height: 256px;
}

.options-container {
  float: right;
}

h1 {
  margin-bottom: 4px;
  font-size: 1.4em;
}

h2 {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.1em;
  font-weight: normal;
}

ul.copy-github-link-list {
  margin: 0;
}

ul.copy-github-link-list li a, ul.copy-github-link-list li a:active, ul.copy-github-link-list li a:visited {
  color: #0969DA;
  text-decoration: none;
  font-size: larger;
}

ul.copy-github-link-list li a:hover {
  text-decoration: underline;
}
